In [91]:
# Basic Packages
import numpy as np
import pandas as pd
import re

# Modeling
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [92]:
titles = pd.read_csv('nhs_descriptors.csv')

# Model Using Cosing Similarity

In [ ]:
# Preprocessing text

In [ ]:
def return_similar(user_type, df):
    # assign already existing values to lists
    corpus = df['provider_name'].to_list()
    number = df['federal_provider_number'].to_list()
    
    # insert user values
    corpus.insert(0, user_input)
    number.insert(0, "user_input")
    
    # clean text
    for i in range(len(corpus)):
        corpus[i] = text.lower()
        corpus[i] = re.sub('[^a-z ]','', text)

In [137]:
# user_input = 'Arkans Convalesent center'

In [138]:
# corpus = titles['provider_name'].to_list()

In [139]:
# number = titles['federal_provider_number'].to_list()

In [140]:
# corpus.insert(0, user_input)
# number.insert(0, "user_input")

In [141]:
for i in range(len(corpus)):
    corpus[i] = clean_text(corpus[i])

In [87]:
# userdata = np.array(user_input) 
# to_append = pd.Series(userdata)

In [84]:
# titles.append(to_append, ignore_index=True)

0                             arkansas convalescent center
1                                windsor chico care center
2                                 avalon villa care center
3                           glenoaks convalescent hospital
4                                       tustin care center
                               ...
15403    la hacienda de paz rehabilitation and care center
15404                       willow creek healthcare centre
15405      richard a anderson state of texas veterans land
15406       kendall lakes health and rehabilitation center
15407                            arkans convalesent center
Length: 15408, dtype: object

In [13]:
def clean_text(text):
    """
    Removes punctuation/special characters 
    & changes all text to lowercase.
    """
    text = text.lower()
    text = re.sub('[^a-z ]','', text)
    return text

In [112]:
# titles['provider_name'] = titles['provider_name'].apply(clean_text);

In [146]:
vectorizer = TfidfVectorizer(analyzer='char')
trsfm=vectorizer.fit_transform(corpus)
vect = pd.DataFrame(trsfm.toarray(),columns=vectorizer.get_feature_names(), index = number)
vect.head()

,,a,b,c,d,e,f,g,h,i,...,q,r,s,t,u,v,w,x,y,z
user_input,0.212961,0.337834,0.0,0.263984,0.000000,0.435115,0.0,0.000000,0.000000,0.000000,...,0.0,0.224842,0.290090,0.238066,0.0,0.243130,0.000000,0.0,0.0,0.0
045277,0.188154,0.397975,0.0,0.349850,0.000000,0.384431,0.0,0.000000,0.000000,0.000000,...,0.0,0.198651,0.384448,0.210335,0.0,0.214809,0.000000,0.0,0.0,0.0
055516,0.326734,0.115182,0.0,0.540019,0.183524,0.333786,0.0,0.000000,0.143824,0.264330,...,0.0,0.344962,0.148356,0.121750,0.0,0.000000,0.263301,0.0,0.0,0.0
056023,0.315345,0.444669,0.0,0.260598,0.000000,0.322152,0.0,0.000000,0.000000,0.127558,...,0.0,0.221959,0.000000,0.117506,0.0,0.480024,0.000000,0.0,0.0,0.0
056317,0.188367,0.298819,0.0,0.233498,0.000000,0.288650,0.0,0.166425,0.124376,0.114293,...,0.0,0.000000,0.384883,0.210573,0.0,0.215052,0.000000,0.0,0.0,0.0

In [120]:
# vectorizer = TfidfVectorizer(analyzer='char')
# transformer=vectorizer.fit_transform(titles)
# vect = pd.DataFrame(transformer.toarray(),columns=vectorizer.get_feature_names())

In [192]:
similar_score = cosine_similarity(trsfm[0:1], trsfm)

In [195]:
vect['score']= np.array(similar_score[0])

In [211]:
vect = vect.sort_values(by = 'score', ascending = False).reset_index()

In [226]:
for i in range(1, 4):
    answer = titles[titles['federal_provider_number']==(vect['index'][i])]['provider_name']
    print(answer)

0    arkansas convalescent center
Name: provider_name, dtype: object
7534    sikeston convalescent center
Name: provider_name, dtype: object
2912    twin oaks convalescent center
Name: provider_name, dtype: object

In [184]:
similar_score = list(similar_score)

In [185]:
similar_score.sort(reverse = True)
similar_score[0][1:4]

array([0.98508688, 0.69264455, 0.79722424])

In [187]:
vect.shape

(15408, 27)

In [194]:
len(similar_score[0])

15408